.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Menyusun elemen secara horizontal */
  align-items: center; /* Menyusun elemen secara vertikal */
  height: 100vh; /* Menggunakan tinggi penuh viewport */
  gap: 1rem;
}

.content {
  padding: 20px;
  background-color: #333232;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  gap: 1rem;
}
